{{ define "main" }}
<div class="container">
    {{/* Section 1 */}}
    <div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-xl-7 mb-lg-0 py-5 py-md-6">
                <div class="lc-block mb-3 mb-md-5 lh-1">
                    <div editable="rich">
                        <h1 class="rfs-30 text-primary display-2 fw-bold">{{.Params.projectName}}</h1>
                        <h4>{{.Params.projectDescription}}</h4>
                    </div>
                    <div class="lc-block">
                        <a class="btn btn-lg btn-dark" href={{.Params.link}} role="button">{{.Params.linkName}}</a>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-12 col-md-6 col-xl-5">
                <div class="lc-block px-md-4 px-lg-5 lh-lg ">
                    <div editable="rich">
                        <p class="rfs-7"> {{.Params.summary}}  </p>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>
        <div class="row">
            <div class="col-md-12 g-0">
                <div class="lc-block">
                    <img class="img-fluid w-100" src={{.Params.mainImg}} alt="Photo by Sandro Katalina"
                        style="object-fit:cover; ">
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>
        <div class="row mt-3">
            <div class="col-md-12 d-flex justify-content-center align-items-baseline">
                <div class="lc-block py-4 me-3">
                    <div editable="rich">
                        <h4 class="fw-bolder">{{.Params.startYear}}</h4>
                    </div>
                </div><!-- /lc-block -->
                <div class="lc-block py-4">

                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        width="2em" height="2em" viewBox="0 0 24 24"  lc-helper="svg-icon" fill="currentColor">
                        <path
                            d="M23,12L19,16V13H6.83C6.42,14.17 5.31,15 4,15A3,3 0 0,1 1,12A3,3 0 0,1 4,9C5.31,9 6.42,9.83 6.83,11H19V8L23,12Z">
                        </path>
                    </svg>

                </div><!-- /lc-block -->
                <div class="lc-block py-4 ms-3">
                    <div editable="rich">
                        <h4 class="fw-bolder"> {{.Params.endYear}}</h4>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>
    </div>

    {{/*  About Information Start  */}}

    <div class="mypath mx-auto mb-4">
        <div class="lc-block">
            <div editable="rich">

                <h2>My Role</h2>

                <p>{{.Params.myRole}}</p>
            </div>
        </div>
        <div class="lc-block">
            <div editable="rich">

                <h2>Challenges</h2>

                <p>{{.Params.myChallenges}}</p>
            </div>
        </div>
        <div class="lc-block">
            <div editable="rich">

                <h2>Solutions</h2>

                <p>{{.Params.mySolutions}}</p>
            </div>
        </div>
        <div class="lc-block">
            <div editable="rich">

                <h2>Next Steps</h2>

                <p>{{.Params.nextStep}}</p>
            </div>
        </div>
    </div>





    {{/*  About Information End  */}}

    <div class="mb-4">
        {{.Content}}
    </div>

        <div class="row mb-4">
          <div class="lc-block text-center">
            <div editable="rich">
              <h2 class="fw-bold display-4">Other Projects</h2>
            </div>
          </div>

          <div class="d-flex justify-content-evenly align-items-center mt-4">
            {{ with .NextInSection }}
            <a href="{{ .RelPermalink }}" class="btn btn-primary btn-block btn-md">Previous: {{ .Title }}</a>
            {{ end }}
            {{ with .PrevInSection }}
                <a href="{{ .RelPermalink }}" class="btn btn-primary btn-block btn-md">Next: {{ .Title }}</a>
            {{ end }}
        </div>


          </div>
 
    


{{ end }}