{{ define "main"}}

{{ if eq .RelPermalink "/categories/"}} 
<h1>Categories</h1>
{{ range $.Site.Taxonomies.categories.ByCount }}


  <div class="card my-2">
    <div class="card-body">
        <a href="/categories/{{ .Name }}" class="card-link">
            # {{ .Name }} <small>({{.Count}})</small>
          </a>
    </div>
  </div>



  {{end}}
{{ else }}

<div class="container py-2">
    <div class="row mb-4">
        <div class="lc-block text-center">
            <div editable="rich">
                <h2 class="fw-bold display-2">Projects</h2>
            </div>
        </div>
    </div>
  {{/*  Block Start  */}}
  <div class="row">
    <div class="row ">
      {{range .Data.Pages}}
        <div class="col-md-6 col-lg-4  my-4  ">
          <div class="card-body">
            <a href={{ .Permalink}} class=" ">
              <img class="card-img-top" src= {{ .Params.mainImg}}  alt="Project Supportive Image" loading="lazy">
             </a>
             <h5 class="mt-1">{{.Params.projectName}}</h5>
             <div class="d-flex justify-content-start align-items-center">
              {{ range .GetTerms "categories"}}
                <a href={{ .Permalink}} class="badgeA"><span class="badge text-bg-primary rounded-pill mx-1 px-2 py-1 ">{{ .Name}}</span></a>
                {{ end}}
            </div>
          </div>
        </div>
      {{end }}
    </div>
  </div>
  {{/*  Block End*/}}
  
  
  
  </div>



{{ end }}
{{end}}