.image-container {
  position: relative;
  overflow: hidden;
}

.image-container {
  transition: transform 0.3s ease-in-out;
}

.image-container:hover {
  transform: scale(1.1) !important;
}

.shrink-image {
  transition: transform 0.3s ease !important;
}
.shrink-image:hover {
  transform: scale(0.95) !important; /* Adjust scale value as per your preference */
}

#heroP {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
  max-width: 1024px;
  font-size: 2rem;
  /* line-height: 0.75rem; */
}

@media (min-width: 640px) {
  #heroP {
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    font-size: 2.25rem;
    /* line-height: 2.5rem; */
  }
}
@media (min-width: 768px) {
  #heroP {
    /* padding-top: 1.25rem;
    padding-bottom:2.25rem; */
  }
}
@media (min-width: 1024px) {
  #heroP {
    font-size: 2.25rem;
    /* line-height: 2.5rem; */
    text-align: left;
  }
}

#heroH1 {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 1024px;
  text-align: left;
  font-size: 2.75rem;
  line-height: 1;
}

@media (min-width: 640px) {
  #heroH1 {
    font-size: 2.50rem;
    line-height: 1;
  }
}

@media (min-width: 840px) {
  #heroH1 {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  #heroH1 {
    font-size: 4.5rem;
    line-height: 1;
    text-align: left;
  }
}

#heroSpan1 {
  font-weight: 500;
  color: #3b82f6;
}

#heroSpan2 {
  font-weight: 500;
  color: #10b981;
}

#heroSpan3 {
  font-weight: 500;
  color: #ec4899;
}

.mypath {
  width: 300px; 
   --mypath-radius: 31px; 
   --mypath-border: 2px dashed;
}

.mypath > div {

  border-top: var(--mypath-border);
  border-color: #777 !important;
  margin:0; 
  padding: var(--mypath-radius);
}

.mypath > div:nth-child(even) {
  border-left: var(--mypath-border);
  border-top-left-radius: var(--mypath-radius);
  border-bottom-left-radius: var(--mypath-radius);
  margin-right: var(--mypath-radius); 
  padding-right: 0;
}

.mypath > div:nth-child(odd) {
  border-right: var(--mypath-border);
  border-top-right-radius: var(--mypath-radius);
  border-bottom-right-radius: var(--mypath-radius);
  margin-left: var(--mypath-radius); 
  padding-left: 0;
}

.mypath > div:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.mypath > div:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}