<div class="row">
  <div class="col-md-6 col-lg-4 g-4">
    <div class="lc-block">
      <img
        class="img-fluid"
        src="/images/reviews/1.png"
        sizes="(max-width: 1080px) 100vw, 1080px"
        width="1080"
        height="768"
        alt="Photo by Bekky Bekks"
        loading="lazy"
      />
    </div>
    <!-- /lc-block -->
  </div>
  <div class="col-md-6 col-lg-4 g-4">
    <div class="lc-block">
      <img
        class="img-fluid"
        src="/images/reviews/2.png"
        sizes="(max-width: 1080px) 100vw, 1080px"
        width="1080"
        height="768"
        alt="Photo by Markus Spiske"
        loading="lazy"
      />
    </div>
    <!-- /lc-block -->
  </div>
  <div class="col-md-6 col-lg-4 g-4">
    <div class="lc-block">
      <img
        class="img-fluid"
        src="/images/reviews/3.png"
        sizes="(max-width: 1080px) 100vw, 1080px"
        width="1080"
        height="768"
        alt="Photo by Lubomirkin"
        loading="lazy"
      />
    </div>
    <!-- /lc-block -->
  </div>
</div>

  <div class="container py-5">
    <div class="row mb-1">
      <div class="lc-block text-center">
        <div editable="rich">
          <h2 class="fw-bold display-2">Gallery</h2>
        </div>
      </div>
      <div class="lc-block text-center">
        <div editable="rich">
          <p class="lead">Images from the original prototype<br /></p>
        </div>
      </div>
    </div>
  </div>

  {{/* TASK 1 */}}
  <div class="container py-5">
    <div class="row mb-1">
      <div class="lc-block text-center">
        <div editable="rich">
          <h2 class="fw-bold display-2">Gallery</h2>
        </div>
      </div>
      <div class="lc-block text-center">
        <div editable="rich">
          <p class="lead">Images from the original prototype<br /></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 g-4">
        <div class="lc-block">
          <img
            class="img-fluid"
            src="/images/projects/recipedia/1.png"
            sizes="(max-width: 1080px) 100vw, 1080px"
            width="1080"
            height="768"
            alt="Photo by Bekky Bekks"
            loading="lazy"
          />
        </div>
        <!-- /lc-block -->
      </div>
      <div class="col-md-6 col-lg-4 g-4">
        <div class="lc-block">
          <img
            class="img-fluid"
            src="/images/projects/recipedia/5.png"
            sizes="(max-width: 1080px) 100vw, 1080px"
            width="1080"
            height="768"
            alt="Photo by Markus Spiske"
            loading="lazy"
          />
        </div>
        <!-- /lc-block -->
      </div>
      <div class="col-md-6 col-lg-4 g-4">
        <div class="lc-block">
          <img
            class="img-fluid"
            src="/images/projects/recipedia/6.png"
            sizes="(max-width: 1080px) 100vw, 1080px"
            width="1080"
            height="768"
            alt="Photo by Lubomirkin"
            loading="lazy"
          />
        </div>
        <!-- /lc-block -->
      </div>
    </div>
  </div>
</div>
