    {{/* Section 2 */}}

<div class="container py-6">
    <div class="row align-items-center">
        <div class="col-xl-6">
            <div class="lc-block mb-3">
                <div editable="rich">
                    <h2 class="fw-bold display-5">The Problem</h2>
                </div>
            </div>
            <div class="lc-block mb-3">
                <div editable="rich">
                    <p class="fw-light rfs-11">Marketing for Small, Medium or Large Businesses.<br>Exceed Your
                        Marketing Goals with us.<br></p>
                </div>
            </div>
            <div class="lc-block">
                <div editable="rich">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus id ligula malesuada
                        placerat sit amet quis enim. Aliquam erat volutpat. In pellentesque scelerisque auctor. Ut
                        porta lacus eget nisi fermentum lobortis.</p>
                </div>
            </div>
        </div>
        <!-- /col -->
        <div class="col-xl-6 row row-cols-1 row-cols-md-2 g-3 counter-RANDOMID">
            <div class="col">
                <div class="card card-body shadow border-0 shadow border-0">
                    <div class="d-inline-flex align-items-center" style="min-height:196px">
                        <div class="me-2">
                            <div class="bg-light p-4 rounded-circle">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" class="" width="2em" height="2em" viewBox="0 0 24 24" style=""
                                    lc-helper="svg-icon" fill="currentColor">
                                    <path
                                        d="M4,2A1,1 0 0,0 3,3V4A1,1 0 0,0 4,5H5V14H11V16.59L6.79,20.79L8.21,22.21L11,19.41V22H13V19.41L15.79,22.21L17.21,20.79L13,16.59V14H19V5H20A1,1 0 0,0 21,4V3A1,1 0 0,0 20,2H4Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <span class="fw-bold display-5 mb-5" data-vanilla-counter="" data-start-at="0"
                                data-end-at="125" data-time="1000" data-delay="60" data-format="{}"> </span>
                            <p class="lead" editable="inline"><span class=""><b>Projects</b></span> Done</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-body shadow border-0">
                    <div class="d-inline-flex align-items-center" style="min-height:196px">
                        <div class="me-2">
                            <div class="bg-light p-4 rounded-circle">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" width="2em" height="2em" viewBox="0 0 24 24" lc-helper="svg-icon"
                                    fill="currentColor">
                                    <path
                                        d="M16 17V19H2V17S2 13 9 13 16 17 16 17M12.5 7.5A3.5 3.5 0 1 0 9 11A3.5 3.5 0 0 0 12.5 7.5M15.94 13A5.32 5.32 0 0 1 18 17V19H22V17S22 13.37 15.94 13M15 4A3.39 3.39 0 0 0 13.07 4.59A5 5 0 0 1 13.07 10.41A3.39 3.39 0 0 0 15 11A3.5 3.5 0 0 0 15 4Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <span class="fw-bold display-5 mb-5" data-vanilla-counter="" data-start-at="0"
                                data-end-at="53" data-time="1000" data-delay="60" data-format="{}"> </span>
                            <p class="lead" editable="inline"><b>Customers</b> Satisfied</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-body shadow border-0">
                    <div class="d-inline-flex align-items-center" style="min-height:196px">
                        <div class="me-2">
                            <div class="bg-light p-4 rounded-circle">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" width="2em" height="2em" viewBox="0 0 24 24" lc-helper="svg-icon"
                                    fill="currentColor">
                                    <path
                                        d="M13,17V19H14A1,1 0 0,1 15,20H22V22H15A1,1 0 0,1 14,23H10A1,1 0 0,1 9,22H2V20H9A1,1 0 0,1 10,19H11V17H5V15.5C5,13.57 8.13,12 12,12C15.87,12 19,13.57 19,15.5V17H13M12,3A3.5,3.5 0 0,1 15.5,6.5A3.5,3.5 0 0,1 12,10A3.5,3.5 0 0,1 8.5,6.5A3.5,3.5 0 0,1 12,3Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <span class="fw-bold display-5 mb-5" data-vanilla-counter="" data-start-at="0"
                                data-end-at="250" data-time="1000" data-delay="60" data-format="{}"> </span>
                            <p class="lead" editable="inline"><b>Employees</b> in the World</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-body shadow border-0">
                    <div class="d-inline-flex align-items-center" style="min-height:196px">
                        <div class="me-2">
                            <div class="bg-light p-4 rounded-circle">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" width="2em" height="2em" viewBox="0 0 24 24" style=""
                                    lc-helper="svg-icon" fill="currentColor">
                                    <path
                                        d="M5,3V21H11V17.5H13V21H19V3H5M7,5H9V7H7V5M11,5H13V7H11V5M15,5H17V7H15V5M7,9H9V11H7V9M11,9H13V11H11V9M15,9H17V11H15V9M7,13H9V15H7V13M11,13H13V15H11V13M15,13H17V15H15V13M7,17H9V19H7V17M15,17H17V19H15V17Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <span class="fw-bold display-5 mb-5" data-vanilla-counter="" data-start-at="4800"
                                data-end-at="5000" data-time="1000" data-delay="0" data-format="{}"> </span>
                            <p class="lead" editable="inline"><b>Branches</b> In EU</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/* Section 3 */}}
<div class="container py-4 py-lg-5">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="lc-block px-4">
                <!--  If you want to remove px-4 please add overflow-hidden class to the section -->
                <div class="position-relative">
                    <div class="lc-block position-absolute top-0 end-0 w-100 h-100 bg-dark mt-4 me-4"> </div>

                    <img class="position-relative img-fluid" src={{.Params.mainImg}} width="1080" height="1080"
                        alt="Photo by Spacejoy" loading="lazy">
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="lc-block mb-4">
                <div editable="rich">

                    <h2 class="fw-bold display-5">The Solution</h2>
                </div>
            </div>
            <div class="lc-block mb-5">
                <div editable="rich">


                    <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                        a lacus est. Etiam diam metus, lobortis non augue at, placerat viverra risus. Cras ornare
                        faucibus laoreet.</p>
                </div>
            </div>

            <div class="lc-block d-sm-flex align-items-center mb-4 overflow-hidden position-relative">
                <div class="d-inline-flex">
                    <div>
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg" lc-helper="svg-icon" class="text-success">
                            <path fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path fill-rule="evenodd"
                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z">
                            </path>
                        </svg>
                    </div>

                    <div class="ms-3 align-self-center" editable="rich">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="lc-block d-sm-flex align-items-center mb-4">
                <div class="d-inline-flex">
                    <div>
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg" lc-helper="svg-icon" class="text-success">
                            <path fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path fill-rule="evenodd"
                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z">
                            </path>
                        </svg>
                    </div>

                    <div class="ms-3 align-self-center" editable="rich">
                        <p>Suspendisse a lacus est</p>
                    </div>
                </div>
            </div>
            <div class="lc-block d-sm-flex align-items-center mb-4">
                <div class="d-inline-flex">
                    <div>
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg" lc-helper="svg-icon" class="text-success">
                            <path fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path fill-rule="evenodd"
                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z">
                            </path>
                        </svg>
                    </div>

                    <div class="ms-3 align-self-center" editable="rich">
                        <p>Etiam diam metus, lobortis non augue at</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/*  Section 4  */}}

<div class="container py-5">
    <div class="row">
        <div class="">
            <img src={{.Params.mainImg}} width="100%" loading="lazy" class="img-fluid w-100">

        </div>

    </div>
</div>